@test21-core:registry=https://test.fakedomain.com/
//test.fakedomain.com/:Username=testnpm
//test.fakedomain.com/:_password=testpassword
//test.fakedomain.com/:email=test@gmail.com
//test.fakedomain.com/:always-auth=true